body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
	padding: 15px;
}

.title {
  background: #e3f4ff;
	padding: 5px;
	font-size: 16px;
}

.content {
  background: #e3f4ff;
	padding: 10px;
}

.button-container {
  background: #e3f4ff;
	display: block;
	text-align: center;
	margin-top: 15px;
	padding: 5px;
}

button {
  background: white;
  border: 1px solid #eee;
	display: block;
	margin: 0 auto;
}